{extend name="public/base" /}
{block name="content"}
<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <a href="{:url('index/index')}">后台首页</a>
            </li>
            <li class="active">{$name|default="管理员管理"}</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->

    <!-- Page Body -->
    <div class="page-body">

        <button type="button" tooltip="添加分类" class="btn btn-sm btn-azure btn-addon" onClick="javascript:window.location.href = '{:url('manage/add')}'"> <i class="fa fa-plus"></i> Add</button>
        <a class="btn btn-sm btn-warning btn-addon" href="{:url('outxls')}"> <i class="fa fa-long-arrow-down"></i> 导出</a>
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="widget">
                    <div class="widget-body">
                        <div class="flip-scroll">
                            <table class="table table-bordered table-hover">
                                <thead class="">
                                <tr>
                                    <th class="text-center">ID</th>
                                    <th class="text-center">管理员名称</th>
                                    <th class="text-center">手机号</th>
                                    <th class="text-center">邮箱</th>
                                    <th class="text-center">状态</th>
                                    <th class="text-center">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {volist name="manages" id="vo"}
                                <tr>
                                    <td align="center">{$vo.id}</td>
                                    <td align="center">{$vo.username}</td>
                                    <td align="center">{$vo.phone}</td>
                                    <td align="center">{$vo.email}</td>
                                    <td align="center">
                                        {if condition="$vo.status eq 1"}
                                        <a class='btn btn-success btn-sm shiny'>正常</a>
                                        {elseif condition="$vo.status eq 2"}
                                        <a class='btn btn-warning btn-sm shiny'>待审</a>
                                        {/if}
                                    </td>
                                    <td align="center">
                                        <a href="{:url('manage/edit',['id' => $vo.id])}" class="btn btn-primary btn-sm shiny">
                                            <i class="fa fa-edit"></i> 编辑
                                        </a>
                                        <a href="{:url('manage/del',['id' => $vo.id])}" onClick="warning('确实要删除吗')" class="btn btn-danger btn-sm shiny">
                                            <i class="fa fa-trash-o"></i> 删除
                                        </a>
                                    </td>
                                </tr>
                                {/volist}
                                </tbody>
                            </table>
                            <div class="list_order">
                                {$manages|raw}
                            </div>
                        </div>
                        <div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /Page Body -->
</div>
{/block}